@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&display=swap");
html, body {
    font-family: 'rem', serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    position: fixed;
    height: 100%;
    max-width: 250px;

}

.nav-bar {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: gray;
    height: 100%;

}

.nav-bar img {
     /* Espaço acima da imagem */
    width: 50%;
    
}

.barra-menu {
    

    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.segmento-menu {
    margin-top: 20px;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    display: flex; /* Adicionar display flex */
    align-items: center; /* Centralizar verticalmente */
    color: gray; /* Cor cinza para o texto */
    text-decoration: none; /* Remover decoração de link */
    
}
.segmento-menu-white {
    margin-top: 20px;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    display: flex; /* Adicionar display flex */
    align-items: center; /* Centralizar verticalmente */
    color: white; /* Cor cinza para o texto */
    text-decoration: none; /* Remover decoração de link */
    
}

.segmento-menu-white img {
    margin-right: 10px;
    width: 20px;
    
}
.segmento-menu img {
    margin-right: 10px;
    width: 20px;
    
}

.imagem-gray {

    filter: grayscale(100%);
}

main{
    margin-left: 200px;
    max-height: 100vh;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

 .projeto,.files{
    display: flex;
    flex-direction: column;

    padding: 10px;

}
.agendamento{
    display: flex;
    flex-direction: column;

}

.reuniao{
    margin-bottom: 0px;
    flex-direction: column;
    display: flex;
}
.projeto{
    margin-top: 30px;
}

.titulo{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-height: 100%;
    justify-content: space-between;
    align-items: center;
}

.titulo h1{
    white-space: normal;
    text-align: left; /* Alinhar o h1 à direita */
    margin: 0;

}

.titulo p{
    white-space: normal;
    text-align: right; /* Alinhar o h1 à direita */
    margin: 0;

}

.data-bar{
    display: flex;
    justify-content: center;
}


.lista{
    color: gray;
    display: flex;
}
.lista ul{
    display: flex;
}
.lista li{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    

}


.alertas{
    box-sizing: border-box;
    white-space: normal;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
 
}

.alertas:hover{

    background-color: #f7f7f7;
  
}



.fav{
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    width: 40px;
    border-radius: 20px;

}
.fav img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.text{
   color: black; 
}

.text h3{
    padding-bottom: 5px;
}


.circles {
    white-space: normal;
    display: flex;
}

.person {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    cursor: pointer;
    transition: transform 0.3s;
}

.person img {
    margin-right: -13px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.person span {
    display: none;
    margin-top: 1px;
    text-align: center;
    font-size: 12px;
    color: #555;
}

.person:hover img {
    transform: scale(1.1);
}

.person:hover span {
    display: block;
}

.reuniao{
    
    display: flex;
    flex-direction: column;
}

.calendario{
    display: flex;
    background: #fff8f5;
    padding: 60px;

    border-radius: 20px;
}

.data{
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    color: black;
    background-color: #fee7de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.data h2{
    margin-bottom: 5px;
    
}

.horario{
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    color: gray;
}

.horario ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.horario li{

    margin-bottom: 30px;
}

.projeto{
    width: 512.8px;
    height: 500px;
}
.files{

     width: 683.29px;
}


.titulo-2{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.titulo h1{
    white-space: normal;
    text-align: left; /* Alinhar o h1 à direita */
    margin: 0;

}

.titulo p{
    white-space: normal;
    text-align: right; /* Alinhar o h1 à direita */
    margin: 0;

}

.progresso{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.icon-progresso{
    max-width: 25px;
}


/* Grafio em pizza */

.titulo-projeto{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}

.pizza{
    box-sizing: border-box;
    display: block;
    width: 200px;
    height: 200px;
    
}

.grafico{
    width: 200px;
    padding: 20px;
    background-color: #fcefe6;
    border-radius: 300px;

}

.back{
   
    padding: 30px;
    border-radius: 20px;
    background-color: #f7f7f7;
}

.custom-legend {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.custom-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Outros estilos que você desejar */

.projeto-grafico{
    display: flex;
    justify-content: center;
    align-items: center;

}

#legendContainer{
    margin-left: 70px;
}


.arquivos{
    box-sizing: border-box;
    white-space: normal;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    margin-top: 10px;
    

}

.fav-arquivos{
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    width: 40px;
    border-radius: 20px;
    margin-right: 25px;
}
.fav-arquivos img{
    width: 40px;
}

.text-arquivos{
   color: black; 
}

.text-arquivos h3{
    padding-bottom: 5px;
}

.view{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.hidden {
    display: none;

}

.show {
    display: block;
}

.black-text {
    color: black;
}

.no-events{
    color: gray;
    display: flex;
    text-align: center;

}

.menu-base{
    display: none;
}

.highlight{
    margin-right: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding: 10px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: black;
    position: fixed;
    color: white;

}


.formularioAdd{
    background:hsla(154, 3%, 55%, 0.404);
    backdrop-filter: blur(20px) saturate(1.7);
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.fomulario-base{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    max-width: 300px;
    max-height: 600px;
}

.evento{
    padding: 10px;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    width: 100%;
}

.text-evento{
    background-color: gray;
    width: 100%;
}

.container {
    z-index: 999;
    justify-content: left;
    padding: 20px;
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:fixed;
}



.contact {
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: left;
	background:white;
	padding:50px;
	margin:50px 0;
}

.contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

.contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

.contact input[type="text"], .contact input[type="email"], .contact input[type="datetime-local"],.contact input[type="tel"], .contact input[type="url"], .contact textarea {
	width:92.8%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

.contact input[type="text"]:hover,.contact input[type="datetime-local"]:hover, .contact input[type="email"]:hover, .contact input[type="tel"]:hover, .contact input[type="url"]:hover, .contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

.contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

.contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:black;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

.contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.contact input:focus, .contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.contact input[type="datetime-local"] {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}


