.selected{
    margin-top: 2px;
    margin-left: -2px;
    position: absolute;
    width: 95px;
    height: 30px;
    background-color: hsla(160, 52%, 71%, .1);
    border-radius: 20px;
    animation: moveToRight 1s ease-in-out forwards; 
    animation-delay: 20ms;
  
  }
  
  
  @keyframes moveToRight {
    0% {
        transform: translateX(-192px);
      
    }
    100% {
      transform: translateX(0px);
    }
  }

a{
    text-decoration: none;
    color: hsla(159, 42%, 88%, 1);

}


.sub-titulo {
    color: hsla(160, 52%, 71%, 1);
    display: flex;
    justify-content: space-between; /* Distribui os itens igualmente ao longo do eixo horizontal */
    align-items: center; /* Alinha os itens verticalmente no centro */
}

.sub-titulo h1{
    color: hsla(159, 42%, 88%, 1);

}
.base {
    flex: 1; /* Faz com que as divs ocupem a mesma quantidade de espaço */
    padding: 20px;
    margin: 10px;
}

.base p{

    font-size: 24px;
}

.exemplo1{
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
    display: flex;
    max-width: 1250px;
}

main{
    margin-top: 100px;
}


img{
    object-fit: fill;
    border-radius: 30px;
    box-shadow: 30px;
}


.subtitulo{
    
    width: 704px;
    font-size: clamp(1rem, .8852rem + .4898vw, 1.375rem);
    align-items: center;
    text-align: left;

}

.subtitulo p{
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 24px;
    color: hsla(159, 42%, 88%, 1);
}

.titulo{
    color: hsla(160, 52%, 71%, 1);
}

.tituloh1{
    color: hsla(160, 52%, 71%, 1);
    margin-bottom: 20px;
    font-size: 64px;
    text-align: left;
}

.imagens-sub{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: hsla(160, 63%, 54%, 0.05);
    border-radius: 20px;
}
.imagens-sub img{
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.info-div{
    text-align: justify;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 24px;
    padding: 20px;
    max-width: 704px;
    margin-top: 50px;
    display: flex;
    background-color: hsla(160, 63%, 54%, 0.05);
    border-radius: 20px;

}

.imagens-sub img:hover{
    box-sizing: border-box;
    padding: 5px;
    transform: scale(1.01);
    background-color: hsla(160, 63%, 54%, 0.05);


}

@media (max-width: 768px) {
    .tituloh1{
        font-size: 32px;

    }

    .imagens-sub img{
        width: 50px;
        height: 50px;
    }
    .base{

        margin: 0px;
        margin-top: 40px;
        font-size: 12px;
        padding: 2px;
    }

    .base p{

        
        font-size: 16px;
    }
    .subtitulo{
        width: 100%;
    }
    .sub-titulo{
        display: inline;
        width: 100%;
        max-height: 100%;
    }

    .exemplo1{

        margin: 50px;
        max-width: 100%;
        max-height: 100%;
    }

    .selected{
        width: 47px;
        height: 18px;
        margin-top: 0;
        margin-left: -3px;
      }



}