main {
    margin-top: 150px;
}



.selected{
  margin-top: 2px;
  margin-left: -2px;
  position: absolute;
  width: 75px;
  height: 30px;
  background-color: hsla(160, 52%, 71%, .1);
  border-radius: 20px;
  animation: moveToRight 1s ease-in-out forwards; 
  animation-delay: 20ms;

}


@keyframes moveToRight {
  0% {
      transform: translateX(-192px);
    
  }
  100% {
    transform: translateX(0px);
  }
}



.descricao {
    max-width: 1200px;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center; /* Isso alinha horizontalmente */

}

.box-image {
    
    margin-right: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza itens verticalmente */
}

.sub-text {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 364px;
    align-items: center;
    background-color: hsla(160, 52%, 71%, 1);
    padding: 10px;
}

.sub-text h1, p{
    font-size: 16px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.box-image h4, .box-image p {
    color: rgb(22, 22, 31);
}

.box-image img {
    
    width: 384px;
    border-radius: 200px 200px 0 0;
}

.box-text {
    margin-top: 56px;

}

.box-text p {
    margin-top: 5px;
    line-height: 40px;
    font-size: 22px;
    color: hsla(159, 42%, 88%, 1);
}

.box-text h1 {
    color: hsla(160, 52%, 71%, 1);
    font-size: 63px;
}

header h1{
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}
  
 header p{
   text-align: center;
   margin-bottom: 0;
 }

.experiencia{
    margin-top: 100px;
}
 /* Timeline */
.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: hsla(160, 52%, 71%, 1);
  color: #16161f;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid hsla(160, 52%, 71%, 1);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid hsla(160, 52%, 71%, 1);
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: #16161f;
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #16161f;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #16161f;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #16161f;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: hsla(160, 52%, 71%, 1);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: hsla(160, 52%, 71%, 1);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;

  color: #16161f;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: hsla(160, 52%, 71%, 1);
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  color: #16161f;
  background: hsla(160, 52%, 71%, 1);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
  border-radius: 30px;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

.about-me{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.about-me h1{
    color: hsla(160, 52%, 71%, 1);
    margin-bottom: 20px;
    font-size: 64px;
    text-align: left;

}

.about-me p{
font-size: 22px;
}

.passos{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 150px;
    margin-top: 100px;
    max-width: 1600px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;;
    align-items: stretch;
    background-color: hsla(160, 52%, 71%, .05);;
    border-radius: 75px;
}

.um{
    font-size: 24px;
    line-height: 32px;
    margin-right: 20px;
    margin-bottom: 100px;
    max-width: 576px;
    text-align: justify;
    flex-basis: calc(50% - 10px);

}

.um h4{
  color: hsla(172, 95%, 18%, 1);
}
.um h1{
  color: hsla(160, 52%, 71%, 1);
}

.um p{

  font-size: 24px;
}

.trabalhos,.card-1,.card-2{

  padding: 0px;


}

.card-1:hover{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  
  overflow: visible;

}
.card-2:hover{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  max-height: 1200px;

  height: 1200px;
  overflow: visible;

}

.trabalhos img{

  width: 100%;


}
.ferramentas{
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}

.ferramentas-imagens{
  display: flex;
  flex-direction: column;
  max-width: 700px;  
  color: hsla(159, 42%, 88%, 1);
  font-size: 36px;
  background-color: hsla(160, 52%, 71%, .05);;
  padding: 40px;
  border-radius: 40px;
  margin-right: 80px;
}



.imagens-text{
  height: 77px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: hsla(160, 63%, 54%, 0.05);;
  border-radius: 20px;
  
}

.imagens-text p{
  margin-left: 20px;
}

.img-text-perfil{
  margin-right: 20px;
   margin-left: 40px;

}

.imagens-text:hover{
  transform: scale(1.01);
  

}

@media(min-width: 768px){


  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }



  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    color: #16161f;
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}


@media(max-width: 768px){

  main{
    margin-top: 70px;
  }

  .sub-text{
    box-sizing: border-box;
    font-size: 12px;
    width: 80%;
  }
  .box-image img {
    width: 80%;

}

  .box-image{
    box-sizing: border-box;
    
    width: 100%;
    margin: 0px;
  }

  .descricao{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .passos{
    display: block;
    padding: 30px;
    padding-top: 70px;
  }
  .um{
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    max-width: 576px;
    text-align: justify;
    flex-basis: calc(50% - 10px);
  }
  .um p{

    font-size: 12px;
  }
  .box-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.box-text p {
 
  font-size: 16px;
  line-height: 20px;
}

.about-me h1 {
  text-align: center;
  font-size: 36px;

}

.about-me p {
  font-size: 16px;

}
.ferramentas{
  flex-direction: column;
  margin-right: 0px;
}
.ferramentas-imagens{
  margin: 0;
  margin-top: 30px;
}

.imagens-text{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.imagens-text img{
  
  max-width: 96px;
  margin-bottom: 40px;

}

.img-text-perfil{
  margin: 0;
}
.selected{
  width: 37px;
  height: 18px;
  margin-top: 0;
  margin-left: -3px;
}

}

